#contact-form,
#comment-form {
  background: var(--light-background);
  border: none;
  width: 360px;
  padding: 1em 0;
  color: var(--dark-color);
  /*  margin-top: 1em; */
  box-shadow: var(--box-shadow);
  border-radius: 0.2rem;
  cursor: pointer;
  margin: 0 auto;
}

/* This inherit from the parent's values */
input,
textarea {
  font-family: inherit;
  font-size: 80%;
  width: 280px;
  margin: 0.5em 0;
  /*  padding: 0;
  margin: 0; */
  /* box-sizing: border-box; */
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1); /* NB! Bytt denne fargen! */
}

textarea {
  overflow: auto;
  /* background-image: url("../summertree.png");
  background-repeat: no-repeat;
  background-size: 15%;
  opacity: 30%;
  background-position: bottom right; */
}

button {
  background: var(--main-green);
  color: var(--white-color);
  /*  margin-top: 10px;*/
  /* border-radius: 10%; */
  /*  width: 80px; */
  padding: 0.4em;
  /* margin-left: 0.3em; */
  margin: 0 auto;
  border: 2px solid var(--grey);
  box-shadow: var(--box-shadow);
  text-transform: lowercase;
  letter-spacing: 0.07em;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0.5em;
  /* position: absolute; */
  /* top: 6em; */
  text-align: center;
  /* left: 2em; */
}

.seemore-btn {
  margin: 2em 33% 4em;
}

button:hover,
button:focus {
  background: var(--grey);
  /* color: var(--white-color); */
}

#search-form {
  width: 100%;
  margin: 0;
  background: var(--white-color);
  box-shadow: none;
  /*  margin-bottom: 2em; */
  border-radius: 0.2rem;
  cursor: pointer;
  /* padding: 1em; */
  position: absolute;
  top: 6em;
  text-align: center;
  /* left: 2em; */
}

#search {
  font-family: inherit;
  width: 250px;
}

#search-btn {
  /*   background-color: hotpink; */
  max-width: 50px;
}

/* Styling the error handling on the form */
.success {
  display: none;
  width: 50%;
  margin: 0 auto;
  background: var(--light-green);
  color: var(--white-color);
  border: 2px solid var(--main-green);
  padding: 1em;
}

.error {
  display: none;
  color: var(--red-color);
  font-size: 0.9rem;
  width: 50%;
  margin: 0 0 1em;
  padding: 0.2em;
}

input:invalid {
  border-color: var(--red-color);
  background-color: var(--light-red);
}
input:focus:invalid {
  outline: none;
}

/* ================
    Media Queries 
  =================== */

@media (min-width: 600px) {
  #search-form {
    position: absolute;
    top: 4.5em;
    right: 0;
    /*  text-align: right; */
    /* padding-right: 1em; */
    width: 50%;
  }

  .seemore-btn {
    margin: 2em 45% 1em;
  }
}

@media (min-width: 1000px) {
  #contact-form {
    display: flex;
    flex-direction: row;
    width: 700px;
  }
  #search-form {
    width: 35%;
  }
}

@media (min-width: 1300px) {
  #search-form {
    width: 25%;
  }
}
